<div>
    <h1>Bienvenido al ComunityCHAT</h1>
</div>
<div>
    <p id="messagesLogs"></p>
    <input id="chatBox">
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>